.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home_container p {
    font-weight: bolder;
}

span {
    color: #c88c1c;
    font-weight: bolder;
}



