.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #171616;
    width: 100%;
}



.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
    font-size: 25px;

}

.item_title {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    color: #c4841c;
}
.item a {
    color:  #fff;
    text-decoration: none;
}

.item a:hover{
    color: #c4841c
    ;
}